<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<h1>投稿する</h1>

<%= form_for(@help) do |f| %>
<%= f.text_field :content, class: "form-control", placeholder: "内容" %>
</br>
<%= f.text_field :url, class: "form-control", placeholder: "SNSのURL" %>
</br>
<%= f.text_field :bill, class: "form-control", placeholder: "報酬" %>
</br>
<%= f.submit "助けを求める" %>
<% end %>
</div>
  </div>
